<div class="container">
   <h4>Users List</h4>
   <div>
      <input type="text" placeholder="Search" class="form-control" (input)="searchUser($event.target.value);">
   </div>
   <app-users-list [users]="users" (showEditUserForm)="showEditUserForm($event)" (removeUser)="removeUser()">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
         </tr>
      </thead>
   </app-users-list>
   
  <button type="button" class="btn btn-success" (click)="showAddUserForm()"> Add User</button>

  <app-add-user *ngIf="addUserForm" [user]="newUser" (saveUser)="saveUser($event)" (cancelNewUser)="cancelNewUser()"></app-add-user>

  <app-edit-user *ngIf="editUserForm" [user]="editedUser" (updateUser)="updateUser($event)" (cancelEdits)="cancelEdits()"></app-edit-user>

</div>