<form>
   <h3>Add New User</h3>
   <div class="form-group" >
      <label>ID: </label> <input disabled class="form-control" type="text" name="id" [(ngModel)]="user.id" />
   </div>
   <div class="form-group" >
      <label>Name: </label><input class="form-control" type="text" name="name" [(ngModel)]="user.name" />
   </div>
      <button type="button" class="btn btn-primary" (click)="save(user)">Submit</button>
      <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
</form>